{% block form_widget_compound %}
{% spaceless %}
    {% if container %}<div {{ block('widget_container_attributes') }}>{% endif %}
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    {% if container %}</div>{% endif %}
{% endspaceless %}
{% endblock form_widget_compound %}
