{% block header_widget %}
{% spaceless %}
    {% import 'bootstrap/bootstrap.functions.html.twig' as bootstrap %}
    {% if title is defined and description is defined %}
        <div class="panel-heading panel-category">
            <div class="panel-title{% if category.title is defined and category.description is defined %} withSubtitle{% endif %}">
                {% if title is defined %}
                    {{ bootstrap.title(title, { 'subtitle': true, 'class': 'category-maintitle' }) }}
                {% endif %}
                {#% if description is defined %}
                    {{ bootstrap.title(description, { 'subtitle': true, 'class': 'category-subtitle' }) }}
                {% endif %#}
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock header_widget %}