{% block next_widget %}
{% spaceless %}
    {% set current = form.vars.currentQuestion|default(0) %}
    {% set total = form.vars.total|default(0) %}
    {%- if label is empty -%}
        {%- set label = name|humanize -%}
    {%- endif %}
    <button type="{{ type|default('submit') }}" data-type="next" {{ block('button_attributes') }}>
        {% if form.vars.currentQuestion == form.vars.lastQuestionToFillIn %}
            {{ 'layout.button.finalize'|trans({}, translation_domain) }}
        {% else %}
            {{ label|trans({}, translation_domain) }}
        {% endif %}
        <i class="fa fa-chevron-right fa-aligned-right">&nbsp;</i>
    </button>
{% endspaceless %}
{% endblock next_widget %}
