{% block order_group_widget %}
{% spaceless %}
    <ul class="list-group list-group-striped" id="sortable-list">
        {%- for child in form -%}
            <li class="list-group-item">
                <div class="order">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
            </li>
        {%- endfor -%}
    </ul>
{% endspaceless %}
{% endblock order_group_widget %}
